/* import google font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
     font-size: 2em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
}

/* main_container_styes */
.main_container{
    display:flex;
    margin-bottom: 10px;

}
.main_container_description{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10%;
    justify-content: center;
    align-items: flex-start;

}
.main_container_description h3{
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
}
.main_container_description p{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}
.main_container_description button{
    width: 176px;
    color:white;
    font-size: 16px;
    background: #E02C6D;
    border-radius: 31px;
    border: none;
    padding: 10px;
   

}
.main_container_img{
    width: 50%;
    justify-content: center;
}
.main_container_img img{
    width:80%;
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 10% 0;
}

/* brands_styles */
.brands{
    display:flex;
    justify-content: space-evenly;
    margin: 10px 5%;
    padding: 15px 0;
    border: 2px solid gray;
    border-right: none;
    border-left: none;
}


/* popular_section_styles */

.popular_section_heading{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    padding: 1em;
    padding-bottom: 0;
}
.popular_section_items{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    justify-content: space-between;
    margin: 5%;
    
}
.popular_section_item{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2), 5px 6px 30px 0 rgba(0, 0, 0, 0.19);
    
    padding: 10%;
   
}
.popular_section_item img{
    
}
.popular_section_item h1{

}
.popular_section_item h3{

}
.popular_section_item .review i{
    color:#FB8200;
}
.popular_section_item p{

}
/* featured_section_styles */
.featured_container{
    display: flex;
    margin: 0 6%;
}
.featured_container_img{
    width: 40%;
    justify-content: center;
    align-items: center;
   
}
.featured_container_img img{
    width:100%;
    margin: 30% 0 0 0;

}
.featured_container_description{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10% 0 10% 10%;
    justify-content: center;
    align-items: flex-start;
}
.featured_container_description h3{
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
}
.featured_container_description p{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}
.featured_container_description button{
    width: 176px;
    color:white;
    font-size: 16px;
    background: #E02C6D;
    border-radius: 31px;
    border: none;
    padding: 10px;
}
